# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
*.jar

# minecraft
server.properties
eula.txt
world/
banned-ips.json
banned-players.json
ops.json
whitelist.json
usercache.json
logs/
BrassAPI/
